<!DOCTYPE html>
<html>
      <head>
         <link rel="stylesheets" type="text/scss" href="welcomes4.scss">
      </head>

      <body>
          <div class="persona-grid">
                <div class="container row-container">
                    <div class="row">
                            <div class="g10-col-sm-5 g10-col-md-5 persona-amy ">
                                <a class="persona-link" href="http://localhost:3000/welcomes1/show">
                                    <div class="info-peek">
                                        <div class="info-default active">
                                            <h2>吉祥</h2>
                                            <p>Hopeful yogi, living the change she wants to see in the world</p>
                                        </div>
                                    </div>
                                    <div class="overlay"></div>
                                    <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" >
                                </a>
                            </div>
                  </div>
              </div>
          </div>
      </body>
</html>
