<head>
<!-- <link rel="stylesheet" id="personaproject-bootstrap-css" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/bootstrap.css?ver=4.5.8" type="text/css" media="all">
<link rel="stylesheet" id="personaproject-qtip-css" href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/jquery.qtip.min.css?ver=4.5.8" type="text/css" media="all"> -->
<link rel="stylesheets" type="text/scss" href="welcomes4.scss">
<!-- <script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
<script type="text/javascript" src="http://personaproject.martinprosperity.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
<link rel="https://api.w.org/" href="http://personaproject.martinprosperity.org/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://personaproject.martinprosperity.org/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://personaproject.martinprosperity.org/wp-includes/wlwmanifest.xml">
<meta name="generator" content="WordPress 4.5.8"> -->
</head>

<body>
    <div class="persona-grid">
          <div class="container row-container">
              <div class="row">
                      <div class="g10-col-sm-4 persona-amy " >
                          <a class="persona-link" href="http://localhost:3000/welcomepages2/show">
                              <div class="info-peek">
                                  <div class="info-default active">
                                      <h1>吉祥</h1>
                                      <p>Hopeful yogi, living the change she wants to see in the world</p>
                                  </div>
                              </div>
                              <div class="overlay"></div>
                              <img class="img-responsive" src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg">
                          </a>
                      </div>
            </div>
        </div>
    </div>
</body>
