<head>
</head>
<body>
<div class="container">
  <h2>Image Gallery</h2>
  <p>The .thumbnail class can be used to display an image gallery.</p>
  <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" target="_blank">
          <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" target="_blank">
          <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg.jpg" target="_blank">
          <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="circle">
        <a href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" target="_blank">
          <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" alt="Lights" class="img-circle" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="circle">
        <a href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" target="_blank">
          <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" alt="Nature" class="img-circle" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="circle">
        <a href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg.jpg" target="_blank">
          <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" alt="Fjords" class="img-circle" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="rounded corners">
        <a href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" target="_blank">
          <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" alt="Lights"  class="img-rounded" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rounded corners">
        <a href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" target="_blank">
          <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" alt="Nature"  class="img-rounded" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="rounded corners">
        <a href="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg.jpg" target="_blank">
          <img src="http://personaproject.martinprosperity.org/wp-content/themes/personaproject/images/personas/amy/amy_face_m.jpg" alt="Fjords"  class="img-rounded" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
